<div class="card-new">
  <div class="new-task">
      <div class="flex-container sm">
        <%= form_for(@task) do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :detail %>
          <%= f.text_field :detail %>
          <%= f.label :complete %>
          <%= f.check_box :complete %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
</div>
